body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
	margin:0;
	padding:0;
}
.bgBox{
	width:100%;
	height:550px;
	padding-top:154px;
	margin-bottom:30px;
	position: relative;
	left:0;
	top:154px;
	background:url(../img/pg.jpg) no-repeat;
	background-size: contain;
}
.zhuBox{
	position: absolute;
	left:900px;
	top:40px;
	width:320px;
	height:450px;
	border:1px solid #e1dddd;
	background:#e1dddd;
	opacity: 0.6;
	text-align:center;
}
.zhuBox p{
	margin-top: 20px;
	text-align:center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.chc{
	width:100px;
}
input{
	height:30px;
	margin-top:20px;
}
.chec{
	font-size:14px;
}
.spanBox{
	margin-top:20px;
	text-align: center;
	vertical-align: middle;
}
.spanBox input{
	vertical-align: middle;
	margin-top:0px;
}
.spanBox span{
	color:black;
	font-size: 14px;
	vertical-align: middle;
}
.spanBox span:last-child{
	margin-left:40px;
}

