body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑",Arial;
	background: #efefef;
}
a{
	color:black;
	text-decoration:none;
}
section{
	width:1220px;
	margin:150px auto;
}
.before{
	height:80px;
	line-height: 80px;
	border-bottom: 1px solid black;
}
.btn{
	width:1220px;
	margin:0 auto;
}
button {
	display: block;
	width:100px;
	height:40px;
	background:black;
	color: white;
	text-align: center;
	line-height:40px;
	float: right;
	margin-bottom: 50px;
}
.goods img{
	width:100px;
	height:100px;
	float: left;
}
.info{
	float: left;
}